src/Projects/MyStm_AK_TC23A/1_ToolEnv/0_Build/1_Config/BifacesConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.infineon.com/BifacesConfig" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.infineon.com/BifacesConfig">

    <xsd:complexType name="InputType">
    	<xsd:attribute name="siblingTypes" type="xsd:string"
    		use="optional" default="enter one or more of output types, that is generated by the same target. e.g. elf">
    	</xsd:attribute>
    	<xsd:attribute name="useObjects" type="BoolStrType"
    		use="optional" default="true">
    	</xsd:attribute>
    	<xsd:attribute name="filePathNames" type="xsd:string"
    		use="optional" default="enter comma separated file path names on which output is dependent">
    	</xsd:attribute>
    </xsd:complexType>

    <xsd:simpleType name="BoolStrType">
    	<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="true"></xsd:enumeration>
    		<xsd:enumeration value="false"></xsd:enumeration>
    	</xsd:restriction>
    </xsd:simpleType>


    <xsd:complexType name="OutputType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
    		<xsd:element name="input" type="InputType" minOccurs="0" maxOccurs="unbounded">
    		</xsd:element>
    	</xsd:choice>
    	<xsd:attribute name="type" type="xsd:string" use="required" default="enter output type here.. e.g: elf, hex, srec etc.">
    	</xsd:attribute>
    	<xsd:attribute name="enable" type="BoolStrType" use="optional"
    		default="false">
    	</xsd:attribute>
    	<xsd:attribute name="fileName" type="xsd:string" use="required" default="add output file name here ....">
    	</xsd:attribute>
    	<xsd:attribute name="tool" type="xsd:string" use="required" default="enter the tool defined (in your toolchain configuration) required to generate this output here..."></xsd:attribute>
    </xsd:complexType>

    <xsd:element name="root">
    	<xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
            	<xsd:element name="primaryArchitecture"
            		type="PrimaryArchitectureType" minOccurs="0"
            		maxOccurs="1">
            	</xsd:element>
            	<xsd:element name="architecture" type="ArchitectureType"
            		minOccurs="1" maxOccurs="unbounded">
            	</xsd:element>
            	<xsd:element name="specificInclude"
            		type="SpecificIncludeType" minOccurs="0"
            		maxOccurs="unbounded">
            	</xsd:element>
            	<xsd:element name="selection" type="SelectionType"
            		minOccurs="0" maxOccurs="unbounded">
            	</xsd:element>
            	<xsd:element name="sourceFolder"
            		type="SourceFolderType" minOccurs="0"
            		maxOccurs="unbounded">
            	</xsd:element>
            	<xsd:element name="templateFiles" type="TemplateFiles" minOccurs="0" maxOccurs="1"></xsd:element>
            	<xsd:element name="doxygen" type="DoxygenType"
            		minOccurs="0" maxOccurs="1">
            	</xsd:element>
            	<xsd:element name="indent" type="IndentType"
            		minOccurs="0" maxOccurs="1">
            	</xsd:element>
            </xsd:choice>
    	</xsd:complexType></xsd:element>


    <xsd:complexType name="TargetType">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
    		<xsd:element name="output" type="OutputType" minOccurs="1" maxOccurs="unbounded">
    		</xsd:element>
    	</xsd:choice>
    	<xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
    	<xsd:attribute name="enable" type="BoolStrType" use="optional" default="false"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="OptionSetType" mixed="true">
    	<xsd:attribute name="id" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="ArgumentType">
    	<xsd:attribute name="index" type="xsd:int" use="optional"></xsd:attribute>
    	<xsd:attribute name="template" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="ToolType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
    		<xsd:element name="optionSet" type="OptionSetType" minOccurs="0" maxOccurs="unbounded">
    		</xsd:element>
    		<xsd:element name="argument" type="ArgumentType" minOccurs="0" maxOccurs="unbounded">
    		</xsd:element>
    	</xsd:choice>
    	<xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
    	<xsd:attribute name="type" type="ToolTypeEnum" use="required"></xsd:attribute>
    	<xsd:attribute name="command" type="xsd:string"
    		use="required">
    	</xsd:attribute>
    	<xsd:attribute name="nextTools" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="path" type="xsd:string" use="optional"></xsd:attribute>
    	<xsd:attribute name="verbose" type="BoolStrType" use="optional" default="false">
    	</xsd:attribute>
    	<xsd:attribute name="primaryOptionSet" type="xsd:string" use="optional"></xsd:attribute>
    </xsd:complexType>

    <xsd:simpleType name="ToolTypeEnum">
    	<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="COMPILER"></xsd:enumeration>
    		<xsd:enumeration value="ASSEMBLER"></xsd:enumeration>
    		<xsd:enumeration value="LINKER"></xsd:enumeration>
    		<xsd:enumeration value="CBINARRAY"></xsd:enumeration>
    		<xsd:enumeration value="ARCHIVER"></xsd:enumeration>
    		<xsd:enumeration value="OTHER"></xsd:enumeration>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ToolchainType">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
    		<xsd:element name="tool" type="ToolType" minOccurs="1" maxOccurs="unbounded">
    		</xsd:element>
    	</xsd:choice>
    	<xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
    	<xsd:attribute name="path" type="xsd:string" use="required"></xsd:attribute>
    	<xsd:attribute name="enable" type="BoolStrType" use="optional"
    		default="false">
    	</xsd:attribute>
    	<xsd:attribute name="verbose" type="BoolStrType" use="optional"
    		default="false">
    	</xsd:attribute>
    	<xsd:attribute name="configFolder" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="configFiles" type="xsd:string" use="optional"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="ArchitectureType">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
    		<xsd:element name="target" type="TargetType" minOccurs="1" maxOccurs="unbounded">
    		</xsd:element>
    		<xsd:element name="toolchain" type="ToolchainType" minOccurs="1" maxOccurs="unbounded">
    		</xsd:element>
    	</xsd:choice>
    	<xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
    	<xsd:attribute name="primaryTarget" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="primaryToolchain" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="enable" type="BoolStrType" use="optional" default="false"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="PrimaryArchitectureType">
    	<xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="SpecificIncludeType">
    	<xsd:attribute name="internalPaths" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="externalPaths" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="SelectionType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
    		<xsd:element name="selection" type="SelectionType" minOccurs="0" maxOccurs="unbounded">
    		</xsd:element>
    		<xsd:element name="use" type="UseType" minOccurs="0" maxOccurs="unbounded">
    		</xsd:element>
    		<xsd:element name="discard" type="DiscardType" minOccurs="0" maxOccurs="unbounded">
    		</xsd:element>
    		<xsd:element name="variant" type="VariantType" minOccurs="0" maxOccurs="unbounded">
    		</xsd:element>
    		<xsd:element name="assign" type="AssignType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
    	</xsd:choice>
    	<xsd:attribute name="enable" type="BoolStrType" use="optional"
    		default="false">
    	</xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="UseType">
    	<xsd:attribute name="files" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="DiscardType">
    	<xsd:attribute name="files" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="VariantType">
    	<xsd:attribute name="rootPaths" type="xsd:string" use="required">
    	</xsd:attribute>
    	<xsd:attribute name="branches" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="AssignType">
    	<xsd:attribute name="targets" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="tools" type="xsd:string" use="optional"></xsd:attribute>
    	<xsd:attribute name="optionSets" type="xsd:string" use="optional"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="DoxygenType">
    	<xsd:attribute name="excludePatterns" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="targetFullNames" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="keepHtml" type="BoolStrType" use="optional"
    		default="true">
    	</xsd:attribute>
    	<xsd:attribute name="toolPath" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="dotToolPath" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="hhcToolPath" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="templatesPath" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="imagesPaths" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="logisticData" type="xsd:string" default="version: Vx.y.z, status: Draft/Release, type: MC User Manual/Application Note, control: Internal, issuemonth: Mmm, issueyear: YYYY"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="IndentType">
        <xsd:choice minOccurs="1" maxOccurs="unbounded">
    		<xsd:element name="options" type="OptionSetType" minOccurs="1" maxOccurs="unbounded"></xsd:element>
    	</xsd:choice>
    	<xsd:attribute name="toolPath" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    	<xsd:attribute name="excludePatterns" type="xsd:string"
    		use="optional">
    	</xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="SourceFolderType">
    	<xsd:attribute name="paths" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="TemplateFiles">
    	<xsd:attribute name="path" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
</xsd:schema>